html 
    body 
        h1 Kim's Convenience
            h2 Developed By
            ul
                each val in showdata.developedBy
                    li= val
            h2 Starring
            ul
                each val in showdata.starring
                    li= val
            h2 Seasons
            ul
                each val in showdata.seasons
                    li= val       


                   
            


          
             
  
            