html 
    body 
        h1 Kim's Convenience
            h2 Developed By
            ul
               for developers in showdata.developedBy
                    li= developers
                   
            h2 Starring
            ul
                for starringIn  in showdata.starring
                    li= starringIn
            h2 Seasons
            ul
                each episode in showdata.seasons
                    li
                         a(href= `/seasons/${episode.number}`)= 'Season' + (' ') + episode.number


                   
            


          
             
  
            