html
    body
        for episodes in seasonAll['episodes']
            div= episodes['number'] 
             div= episodes['title']
              div= episodes['director']
               div= episodes['synopsis']
            

          
                